<div class="header-container">
  <div class="col-1">
    <img [src]="album.image">
  </div>
  <div class="col-2">
    <div class="playlist">TRACKS</div>
    <div class="playlist-title">{{album.artist}}</div>
    <div class="playlist-desc">{{album.name}}</div>
    <div class="action-buttons">
      <button class="play-btn btn btn-small">PLAY</button>
      <button class="follow-btn btn btn-small">FOLLOW</button>
      <button class="more-btn btn"></button>
    </div>
  </div>
  <div class="col-3">
    <div class="stats">
      <div>FOLLOWERS</div>
      <div>172,229</div>
    </div>
  </div>
</div>
<div class="header-bar">
  <div class="container">
    <div class="pull-left">
      <span>Created by: <a>Tomster</a></span>
      <span>• </span>
      <span>123 songs</span><span>, </span>
      <span>28 min</span>
    </div>
  </div>
</div>
<div class="playlist-list">
  <div class="row playlist-field-head">
    <div class="col-xs-4 col-md-4 col-md-offset-1">SONG</div>
    <div class="col-xs-3 col-md-3">ARTIST</div>
    <div class="col-xs-3 col-md-3">ALBUM</div>
    <div class="col-xs-1 col-md-1 col-time"></div>
  </div>
  <div class="row playlist-field">
    <div class="col-xs-4 col-md-4 col-md-offset-1">Blitzkrieg Bop</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-1 col-md-1">2:12</div>
  </div>
  <div class="row playlist-field">
    <div class="col-xs-4 col-md-4 col-md-offset-1">Beat on the Brat</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-1 col-md-1">2:30</div>
  </div>
  <div class="row playlist-field">
    <div class="col-xs-4 col-md-4 col-md-offset-1">Judy Is a Punk</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-3 col-md-3">Ramones</div>
    <div class="col-xs-1 col-md-1">1:30</div>
  </div>
</div>
