<div class="row fivecolumns">
  {{#each albums as |album|}}
    <div>
      <div class="col-sm-3 col-md-3 col-lg-2 media default image-grid genre">
        {{#link-to "album" album.id}}
          <img alt="Ramones" class="album" src={{album.image}}>
        {{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
