<h1 class="main-header">Albums</h1>
<div class="local-nav" id="nav">
  <div class="navbar-fixed-wrapper">
    <div class="navbar">
      <ul class="nav" data-log-context="nav-bar">
        <li class="active"><a data-log-click="nav-home">Albums</a></li>
        <li><a data-log-click="nav-charts">Charts</a></li>
        <li><a data-log-click="nav-discover">Discover</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="section-divider genres-section">
  <div id="featuredPlaylistLabel">
    Albums
  </div>
</div>
{{album-grid albums=model id="genresAndMoods"}}
