<div id="main-nav">
  <a id="logo" class="logo"></a>
  <ul id="nav-items">
    <li><a class="spoticon-search-32 standard-menu-item"><span>Search</span></a></li>
    <li><a class="spoticon-browse-32 standard-menu-item"><span>Albums</span></a></li>
    <li><a class="spoticon-radio-32 standard-menu-item"><span>Radio</span></a></li>
  </ul>
</div>
<div id="wrapper">
  <div id="main">
    <div id="header" class="container-fluid">
      <h1 class="main-header">Albums</h1>
      <div class="local-nav" id="nav">
        <div class="navbar-fixed-wrapper">
          <div class="navbar">
            <ul class="nav" data-log-context="nav-bar">
              <li class="active"><a data-log-click="nav-home">Albums</a></li>
              <li><a data-log-click="nav-charts">Charts</a></li>
              <li><a data-log-click="nav-discover">Discover</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- albums grid -->

      <div class="section-divider genres-section">
        <div id="featuredPlaylistLabel">
          Albums
        </div>
      </div>
      <div id="genresAndMoods">
        <div class="row fivecolumns">
          <div>
            <div class="col-sm-3 col-md-3 col-lg-2 media default image-grid genre">
              <img alt="Ramones" class="album" src="/images/ramones-ramones.jpg">
            </div>
          </div>
          <div>
            <div class="col-sm-3 col-md-3 col-lg-2 media default image-grid genre">
              <img alt="Leave home" class="album" src="/images/ramones-leave-home.jpg">
            </div>
          </div>
          <div>
            <div class="col-sm-3 col-md-3 col-lg-2 media default image-grid genre">
              <img alt="Rocket to Russia" class="album" src="/images/ramones-rocket-to-russia.jpg">
            </div>
          </div>
        </div>
      </div>

      <!-- end albums grid -->
    </div>
  </div>
</div>
